ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex
}

a {
    text-decoration: none;
    color: white;
    &.mat-accent {
        border: 1px solid #ff4081;
    }
}

.spacer {
    flex: 1 1 auto;
}
