<mat-card>
    <form (submit)="onLogin(loginForm)" #loginForm="ngForm">
        <mat-form-field>
            <input matInput ngModel type="email" name="email" placeholder="Email" #emailInput="ngModel" required email>
            <mat-error *ngIf="emailInput.invalid">Please enter a valid email</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput ngModel type="password" name="password" placeholder="password" #passwordInput="ngModel" required>
            <mat-error *ngIf="passwordInput.invalid">Please enter a password</mat-error>
        </mat-form-field>
        <mat-card-actions>
            <button color="primary" mat-raised-button type="submit" [disabled]="loginForm.invalid">Login</button>
        </mat-card-actions>
    </form>
</mat-card>